.animated-particle:nth-child(1) {
    top: 6%;
    left: 10%
}
.animated-particle:nth-child(2) {
    top: 9.5%;
    left: 3.1%
}
.animated-particle:nth-child(3) {
    top: 12%;
    left: 12.5%;
}
.animated-particle:nth-child(4) {
    top: 72%;
    left: 1%;
}
.animated-particle:nth-child(5) {
    top: 25%;
    left: 17%;
}
.animated-particle:nth-child(6) {
    top: 94.5%;
    left: 17%;
}
.animated-particle:nth-child(7) {
    top: 29%;
    left: 5.5%;
}
.animated-particle:nth-child(8) {
    top: 32%;
    left:6.1%;
}
.animated-particle:nth-child(9) {
    top: 48%;
    left: 2.2%;
}
.animated-particle:nth-child(10) {
    top: 53%;
    left:11.2%
}
.animated-particle:nth-child(11) {
    top: 75%;
    left: 3.15%;
}
.animated-particle:nth-child(12) {
    top: 62%;
    left: 20%;
}
.animated-particle:nth-child(13) {
    top: 84%;
    left: 10%;
}
.animated-particle:nth-child(14) {
    top: 98%;
    left: 3%;
}
.animated-particle:nth-child(15) {
    top: 12%;
    right: 18.5%;
}
.animated-particle:nth-child(16) {
    top: 95%;
    right: 21.5%;
}
.animated-particle:nth-child(17) {
    top: 81.5%;
    right: 11.3%;
}
.animated-particle:nth-child(18) {
    top: 79.6%;
    right: 5.4%;
}
.animated-particle:nth-child(19) {
    top: 54.2%;
    right: 11.7%;
}
.animated-particle:nth-child(20) {
    top: 6.3%;
    right: 13.1%;
}
.animated-particle:nth-child(21) {
    top: 21.6%;
    right: 11.2%;
}
.animated-particle:nth-child(22) {
    top: 32%;
    right: 14.1%;
}
.animated-particle:nth-child(23) {
    top: 75%;
    right: 5.3%;
}
.animated-particle:nth-child(24) {
    top: 36%;
    right: 2.8%;
}
.animated-particle:nth-child(25) {
    top: 33%;
    right: 15.9%;
}
.animated-particle:nth-child(26) {
    top: 48%;
    right:1.5%;
}
.animated-particle:nth-child(27) {
    top: 43%;
    right: 8.6%;
}
.animated-particle:nth-child(28) {
    top: 59%;
    right: 17.9%;
}
.animated-particle:nth-child(29) {
    top: 64%;
    right: 12.9%;
}
.animated-particle:nth-child(30) {
    top: 97%;
    right: 11.8%;
}
.animated-particle:nth-child(31) {
    top: 9%;
    right: 9.6%;
}